:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     210,210,210;
    --color-neutral-100:    172,172,172;
    --color-neutral-200:    134,134,134;
    --color-neutral-300:    96,96,96;
    --color-neutral-400:    57,57,57;
    --color-neutral-500:    19,19,19;
    --color-neutral-600:    0,0,0;
    --color-neutral-700:    0,0,0;
    --color-neutral-800:    0,0,0;
    --color-neutral-900:    0,0,0;
    --color-primary-50:     255,255,255;
    --color-primary-100:    244,209,209;
    --color-primary-200:    230,147,147;
    --color-primary-300:    215,85,85;
    --color-primary-400:    181,43,43;
    --color-primary-500:    119,28,28;
    --color-primary-600:    86,20,20;
    --color-primary-700:    53,12,12;
    --color-primary-800:    20,5,5;
    --color-primary-900:    0,0,0;
    --color-secondary-50:     213,255,219;
    --color-secondary-100:    137,254,153;
    --color-secondary-200:    62,253,87;
    --color-secondary-300:    3,235,34;
    --color-secondary-400:    2,160,23;
    --color-secondary-500:    1,84,12;
    --color-secondary-600:    1,44,6;
    --color-secondary-700:    0,3,0;
    --color-secondary-800:    0,0,0;
    --color-secondary-900:    0,0,0;
    }